@import 'node_modules/bootstrap/scss/bootstrap';
//Custom Styles here
* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    background-color: black;
}